body {
    font-family: Arial, sans-serif;
    background-color: #1f2a36;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.control-panel {
    width: 200px;
    padding: 20px;
    background-color: #1f2a36;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row-settings select {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #27333f;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.drop-ball-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#multiplier-row {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 100%;
}

.multiplier-box {
    margin: 1.5px;
    width: 37.5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: rgb(31, 31, 31);
    border-radius: 6.5px;
}


.red {
    background-color: #e60000;
}

.orange {
    background-color: #ff6f00;
}

.yellow {
    background-color: #ffcc00;
}

/* #graph-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    margin: 1px;
    align-items: flex-end;
}

.graph-bar {
    margin: 1px;
    width: 38px;
    height: 0;
    background-color: #4CAF50;
    transition: height 0.3s ease;
} */
